{% extends 'base.html.twig' %}

{% block body %}
	<div class="wrapper">
		{{ include('navbar.html.twig') }}		
		 <div class="container-fluid">		
			<!-- Page Content -->
			<div class="content main">
				{% block breadcrumb %}{% endblock %}
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}

