{% extends 'base.html.twig' %}

{% block body %}
	<div class="wrapper">
	{% set currentPage = app.request.attributes.get('_route') %}
	{#
	{% if currentPage == 'KPIList' %}
		{{ include('navbar_side.html.twig') }}
	{% else %}
		{{ include('navbar.html.twig') }}
	{% endif %}
	#}	
				
	{{ include('navbar.html.twig') }}
		 <div class="container-fluid">		
			<!-- Page Content -->
			<div class="content main">
				{% block breadcrumb %}{% endblock %}
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}

