{% extends 'layout.html.twig' %}

{% block breadcrumb %}
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="#">Projects</a></li>			
		</ol>
	</div>
{% endblock %}

{% block content %}
	<h1 class="page-header">Projects</h1>	
{% endblock %}
