@CHARSET "UTF-8";
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Global add-ons
 */
 
 th {
	text-align: center;
}

.glyphicon { 
	margin-right:10px; 
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
 
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */
 
/* Hide for mobile, show later */
.sidebar {
  display: none;
  font: 18px Calibri, Helvetica;	
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
/* .nav-sidebar {
  margin-right: -21px; 20px padding + 1px border
  margin-bottom: 20px;
  margin-left: -20px;
} */

/* .nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
} */

/* .nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
} */

.panel-body {
	padding:0px; 
}

.panel-body table tr td {
	padding-left: 15px
	font: 25px Calibri, Helvetica; 
}

.panel-body .table {
	margin-bottom: 0px;
}

/*
 * Main content
 */
 
.content {
  padding: 20px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.content .page-header {
  margin-top: 0;
  font: bold 25px Calibri, Helvetica;
}

/*
 * Login form
 */
 
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.COMPLETE{
	color : green;
	font-weight: bold;	
}

.IN-PROGRESS{
	color : orange;
	font-weight: bold;	
}

.NEW{
	color : purple;	
	font-weight: bold;	
}
.DELAYED{
	color : red;	
	font-weight: bold;		
}
.DEFAULT{
	color : black;	
	font-weight: bold;		
}
.IN-REVIEW{
	color : blue;	
	font-weight: bold;		
}

.form-label{
	vertical-align: middle;
}
.navbar-brand{
	font: bold 23px Calibri, Helvetica;	
}
.nav{	
	font: 17px Calibri, Helvetica;
}
.breadcrumb, ol{
	font: 17px Calibri, Helvetica;
}
.panel-title{
	font: 18px Calibri, Helvetica;
}
.table, table-bordered, table-hover{
	font: 16px Calibri, Helvetica;
}
.medium{
	font-family: inherit;
	color: inherit;
}
.label{
	font-family: inherit;
	color: grey;
	font-weight: bold;
	font-size: 13px;	
}
.panel-body{
	padding : 5px;
	font-family: inherit;
	color: grey;
	font-weight: bold;
	font-size: 18px;	
}
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}
/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
.smalldropdown{
	font-family: inherit;
	width:150px;	
}
.mediumdropdown{
	font-family: inherit;
	width:300px;	 
}
.text-small{
	font-family: inherit;
	font-size : 12px;	 
	color: #337ab7;
}
.text-medium{
	font-family: inherit;
	font-size : 15px;	 
	color: #337ab7;
}
.text-small-bold{
	font-family: inherit;
	font-size : 13px;	
	font-weight : bold;	 
	color: #337ab7;
}
.text-small-grey{
	font-family: inherit;
	font-size : 13px;	 
	color: #707070 ;
}

.text-heading{
	font-family: inherit;
	font-size : 20px;	
	font-weight : bold;	 
	color: #337ab7;	
}
.text-primary-bold{
	font-family: inherit;
	font-size : 15px;	
	font-weight : bold; 
	color: #337ab7;
}
.btn-align-center{
	position: relative;
}
.dropdown{
	font-family: inherit;
	padding: 5px;	
}
.div-round-border{
	border-radius: 5px;
    border: 1px solid #D8D8D8;    
    padding: 10px;
}
.div-center{
	align-content: center;
}

.bg-info{
	font-family: inherit;
	font-weight : bold;
	padding: 13px;
	border-radius: 4px;
    border: 1px solid #D8D8D8;   	 
}
.div-xml{
	font-style: italic;
	overflow: scroll;
	font-family: inherit;	
	font-size : 12px;	
	height: 280px;
	width : 480px;
}
.div-xml-wide{
	font-style: italic;
	overflow-y: scroll;
	overflow-x: scroll;
	font-family: inherit;	
	font-size : 12px;	
	height: 280px;
	width : 980px;
}